<header class="navbar has-ledge">
  <h1>Follow your favorite shows</h1>
</header>
<section class="follow-shows has-navbar bg-shaded">
  <ul>
    <li class="item item--user">
      <img src="images/shows/*" alt="show avatar" />
      <div class="user-details">
        <h3>Show Title</h3>
        <button class="btn btn--blue btn--small">Follow</button>
      </div>
    </li>
  </ul>
</section>
<button class="footer--fixed go-button go-button--blue action--follow-shows">
  <span class="label">Next</span>
  <img src="images/arrow-forward-small.png" alt="Go" class="arrow-small" />
</button>