<header class="navbar has-ledge">
  <h1>Recommendations</h1>
</header>
<article class="recommendations has-navbar has-tabbar">
  <section class="rec-block rec-block--show">
    <header class="section-heading">
      <img src="images/avatar_the-frame.png" alt="The Frame" width="95">
      <h2>What the Frame's Listening To</h2>
    </header>
    <ul class="table-view table-view--content">
      <li class="content-item clearfix">
        <img src="images/content_tiles/song-exploder.jpg" alt="Song Exploder" class="tile">
        <div class="content-details">
          <h4 class="show-name">Song Exploder</h4>
          <h3 class="episode-title">BLONDE REDHEAD - PENULTIMO</h3>
        </div>
      </li>
      <li class="content-item clearfix">
        <img src="images/content_tiles/love-and-radio.jpg" alt="Love And Radio" class="tile">
        <div class="content-details">
          <h4 class="show-name">Love &amp; Radio</h4>
          <h3 class="episode-title">AN OLD LION, OR A LOVER’S LUTE</h3>
        </div>
      </li>
      <li class="content-item clearfix">
        <img src="images/content_tiles/the-heart.jpg" alt="The Heart" class="tile">
        <div class="content-details">
          <h4 class="show-name">The Heart</h4>
          <h3 class="episode-title">IN THE WAKE OF #OSCARSSOWHITE…</h3>
        </div>
      </li>
      <li class="content-item clearfix">
        <img src="images/content_tiles/marketplace-tech.jpg" alt="Marketplace Tech Report" class="tile">
        <div class="content-details">
          <h4 class="show-name">Marketplace Tech Report</h4>
          <h3 class="episode-title">THE RACIST ALGORITHM</h3>
        </div>
      </li>
    </ul>
  </section>
  <section class="rec-block rec-block--network">
    <header class="section-heading">
      <img src="images/avatar-network.png" alt="Network" width="67">
      <h2>More from Your Network</h2>
    </header>
    <ul class="table-view table-view--content">
      <li class="content-item clearfix">
        <div class="content-from clearfix">
          <img src="images/avatar-recommendation.png" alt="avatar" width="21">
          <p>Alex Schaffert listened to</p>
        </div>
        <img src="images/content_tiles/the-frame.jpg" alt="The Frame" class="tile">
        <div class="content-details">
          <h4 class="show-name">The Frame</h4>
          <h3 class="episode-title">HOLLYWOOD DIVERSITY REPORT; 'HOUSE OF…</h3>
        </div>
      </li>
      <li class="content-item clearfix">
        <div class="content-from clearfix">
          <img src="images/avatar-recommendation.png" alt="avatar" width="21">
          <p>Chris Keller listened to</p>
        </div>
        <img src="images/content_tiles/serial.jpg" alt="Serial" class="tile">
        <div class="content-details">
          <h4 class="show-name">Serial</h4>
          <h3 class="episode-title">EPISODE 11: RUMORS</h3>
        </div>
      </li>
      <li class="content-item clearfix">
        <div class="content-from clearfix">
          <img src="images/avatar-recommendation.png" alt="avatar" width="21">
          <p>Paul Brent listened to</p>
        </div>
        <img src="images/content_tiles/wwdtm.jpg" alt="Wait Wait" class="tile">
        <div class="content-details">
          <h4 class="show-name">Wait Wait, Don't Tell Me!</h4>
          <h3 class="episode-title">DAME EDNA EVEREDGE</h3>
        </div>
      </li>
    </ul>
  </section>
</article>
<footer class="footer--fixed tab-bar">
  <ul class="clearfix">
    <li>
      <a href="#recommendations" class="active">
        <img src="images/tab-home.png" alt="Home" width="26">
      </a>
    </li>
    <li>
      <a href="#trending">
        <img src="images/tab-trending.png" alt="Trending" width="45">
      </a>
    </li>
    <li>
      <a href="#me">
        <img src="images/tab-me.png" alt="Me" width="12">
      </a>
    </li>
  </ul>
</footer>