<header class="navbar">
  <h1>Sign In</h1>
  <button class="nav--back action--welcome">
    <img src="images/nav-back.png" alt="Back">
  </button>
</header>
<section class="sign-in has-navbar">
  <img src="images/logo-black.png" alt="freq.fm" class="logo">
  <form action="post">
    <input type="email" placeholder="Email" class="input">
    <input type="password" placeholder="Password" class="input">
  </form>
  <div class="social-login">
    <button class="btn btn--blue btn--med">Sign Up Via Facebook</button>
  </div>
  <button class="footer--fixed go-button go-button--green action--follow-shows">
    <img src="images/arrow-forward.png" alt="Go" class="arrow" />
  </button>
</section>