/* UTILITY CLASSES */
.bg-shaded {
    background: #F3F3F3;
    height:100%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* INPUT STYLES */
.input, input {
    border:0;
    border-bottom: 1px solid #aaa;
    color: #343434;
    font-family: Alright Sans, sans-serif;
    font-size: 12px;
    height: 40px;
    margin-bottom: 18px;
    text-transform: uppercase;
    width: 260px;
}
::-webkit-input-placeholder {
    color: #343434;
    font-family: Alright Sans, sans-serif;
}

/* BUTTON STYLES */
.btn {
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    font-weight: 400;
    line-height: 1em;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
}
    .btn--blue {
        border-color: #1C56FF;
        color: #1C56FF;
    }
    .btn--green {
        border-color: #21C064;
        color: #21C064;
    }
    .btn--lg {
        font-size: 15px;
        padding: 14px 0 10px;
        width: 240px;
    }
    .btn--med {
        font-size: 12px;
        padding: 14px 0 10px;
        width: 240px;
    }
    .btn--small {
        border-radius: 18px;
        font-size: 10px;
    }
    .btn--filled.btn--green {
        background: #21C064;
        color: white;
    }

/* GO! BUTTON STYLES */
.go-button {
    background: #ccc;
    border: 0;
    color: white;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}
    .go-button .label {
        margin-right: 4px;
        vertical-align: text-bottom;
    }
    .go-button .arrow {
        margin-top: 5px;
        width: 21px;
    }
    .go-button .arrow-small {
        margin-top: 8px;
        width: 18px;
    }
    .go-button--green {
        background: #21C064;
    }
    .go-button--blue {
        background: #1C56FF;
    }

.footer--fixed {
    position: fixed;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* TAB BAR STYLES */
.tab-bar {
    background: black;
}
    .tab-bar ul {
        list-style: none;
        margin:0;
        padding:0;
    }
        .tab-bar li {
            float: left;
            width:33.3%;
        }
            .tab-bar a {
                display: block;
                text-align: center;
                height: 60px;
                width: 100%;
            }
                .tab-bar a.active {
                    background: #22C064;
                }
                .tab-bar a img {
                    margin-top: 12px;
                }

/* NAVBAR STYLES */
.has-navbar {
    margin-top: 65px;
}
.has-tabbar {
    margin-bottom: 65px;
}
.has-ledge {
    border-bottom: 1px solid #C2C2C2;
}
.navbar {
    background: white;
    position: fixed;
    text-align: center;
    height: 65px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 300;
}
    .navbar h1 {
        font-size: 17px;
        font-weight: 400;
        margin-top: 26px;
    }
    .navbar .nav--back {
        background: transparent;
        border: 0;
        position: absolute; 
        left: 20px;
        top: 27px;
    }
        .navbar .nav--back img {
            width: 13px;
        }

/* TABLE VIEW STYLES */
.table-view {
    list-style: none;
    margin:0 12px;
    padding:12px 0;
}
    .table-view--content {
        margin:0;
    }
.table-item {
    margin-bottom: 13px;
}
.table-item .user-avatar {
    float: left;
    margin-right: 13px;
    width: 40px;
}
.table-item .user-name {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    position: absolute;
    left: 0;
    top: 12px;
}
.table-item .user-details {
    border-bottom: 1px solid #ccc;
    height:40px;
    padding-bottom: 10px;
    position: relative;
    margin-left: 53px;
}
    .table-item .user-details .btn {
        position: absolute; 
        right:0;
        top: 50%;
        margin-top: -18px;
    }

/* WELCOME VIEW */
.welcome {
    text-align: center;
}
    .branding {
        background: url('../images/bg-welcome.png');
        background-size: cover;
        color: white;
        min-height:345px;
    }
        .branding h2 {
            font-weight: 300;
            font-style: italic;
        }

        .logo {
            display: block;
            margin:0 auto;
            padding: 100px 0 90px;
            width: 192px;
        }
    .next-step {
        padding-top: 70px;
    }

/* SIGN IN VIEW */
.sign-in {
    text-align: center;
}
    .sign-in .logo {
        padding: 60px 0;
    }
    .sign-in .social-login {
        position: fixed;
        bottom: 90px;
        left:50%;
        margin-left: -120px;
    }

/* RECOMMENDATIONS VIEW */
.recommendations {
    padding: 15px;
}
    .rec-block .section-heading {
        border-bottom: 1px solid #979797;
        text-align: center;
    }
        .section-heading h2 {
            color: #1452E3;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
        }

.content-item {
    background: url('../images/caret-forward.png') no-repeat right center;
    background-size: 8px 14px;
    border-bottom: 1px solid #E4E4E4;
    padding: 20px 0;
}
    .content-item .tile {
        float: left;
        margin-right: 13px;
        width:50px;
    }
    .content-item .content-details {
        margin-right: 32px;
    }
    .content-item .show-name {
        color: #7D7D7D;
        font-size: 12px;
        font-weight: 400;
        margin: 0;
    }
    .content-item .episode-title {
        color: #1C1C1C;
        font-size: 14px;
        margin: 0;
    }
    .content-from {
        margin-bottom: 8px;
    }
    .content-from p {
        color: #1C1C1C;
        font-size: 11px;
        margin: 0;
    }
    .content-from img {
        float: left;
        margin-right: 8px;
        margin-top: -6px;
    }

