/* INPUT STYLES */
.input, input {
    border:0;
    border-bottom: 1px solid #aaa;
    color: #343434;
    font-family: Alright Sans, sans-serif;
    font-size: 12px;
    height: 40px;
    margin-bottom: 18px;
    text-transform: uppercase;
    width: 260px;
}
::-webkit-input-placeholder {
    color: #343434;
    font-family: Alright Sans, sans-serif;
}

/* BUTTON STYLES */
.btn {
    background: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    font-weight: 400;
    line-height: 1em;
    padding: 4px 8px;
    text-align: center;
    text-transform: uppercase;
}
    .btn--blue {
        border-color: #1C56FF;
        color: #1C56FF;
    }
    .btn--green {
        border-color: #21C064;
        color: #21C064;
    }
    .btn--lg {
        font-size: 15px;
        padding: 14px 0 10px;
        width: 240px;
    }
    .btn--med {
        font-size: 12px;
        padding: 14px 0 10px;
        width: 240px;
    }

/* GO! BUTTON STYLES */
.go-button {
    background: #ccc;
    border: 0;
    color: white;
    text-align: center;
}
    .go-button .arrow {
        margin-top: 5px;
        width: 21px;
    }
    .go-button--green {
        background: #21C064;
    }

.footer--fixed {
    position: fixed;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* NAVBAR STYLES */
.has-navbar {
    margin-top: 65px;
}
.navbar {
    background: white;
    position: fixed;
    text-align: center;
    height: 65px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
    .navbar h1 {
        font-size: 17px;
        font-weight: 400;
        margin-top: 26px;
    }
    .navbar .nav--back {
        background: transparent;
        border: 0;
        position: absolute; 
        left: 20px;
        top: 27px;
    }
        .navbar .nav--back img {
            width: 13px;
        }

/* WELCOME VIEW */
.welcome {
    text-align: center;
}
    .branding {
        background: url('../images/bg-welcome.png');
        background-size: cover;
        color: white;
        min-height:345px;
    }
        .branding h2 {
            font-weight: 300;
            font-style: italic;
        }

        .logo {
            display: block;
            margin:0 auto;
            padding: 100px 0 90px;
            width: 192px;
        }
    .next-step {
        padding-top: 70px;
    }

/* SIGN IN VIEW */
.sign-in {
    text-align: center;
}
    .sign-in .logo {
        padding: 60px 0;
    }
    .sign-in .social-login {
        position: fixed;
        bottom: 90px;
        left:50%;
        margin-left: -120px;
    }